<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>cb-messa</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <form id="booking-form">
            <input id="name" name="name" placeholder="Имя" />

            <input id="phone" name="phone" placeholder="Телефон" />

            <input
                id="guests"
                name="guests"
                type="number"
                placeholder="Количество гостей"
            />

            <button type="submit">Забронировать</button>

            <p id="form-error"></p>
        </form>

        <script src="script.js"></script>
    </body>
</html>
